@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
.font-lato {
	font-family: 'Lato', sans-serif;
}
.font-heebo {
	font-family: 'Heebo', sans-serif;
}
.font-script {
	font-family: 'Explora', cursive;
}
.font-pinyon {
	font-family: 'Pinyon Script', cursive;
}
.headingColor {
	color: #ecdd00;
}
.pointer {
	cursor: pointer;
}
input,
textarea {
	outline: none !important;
	box-shadow: none !important;
}
:root {
	--fw-regular: 400;
	--fw-semiBold: 500;
	--fw-bold: 600;

	--fs-400: 1rem;
	--fs-500: 1.5rem;
	--fs-600: 2rem;

	--size-100: 0.25rem;
	--size-200: 0.5rem;
	--size-300: 0.75rem;
	--size-400: 1rem;
	--size-500: 1.5rem;
	--size-600: 2rem;
	--size-700: 2.5rem;
	--size-800: 3rem;

	--primary-color: #ffff75;
	--heading-color: #ecdd00;
	--light-color: white;
	--dark-color: black;
	--brown-color: #7c3c00;
	--bg-scrollbar-thumb: #8a8a8a75;
	--bg-scrollbar-thumb-hover: #999999;
}
*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
img,
svg {
	max-width: 100%;
	display: block;
}
a {
	text-decoration: none;
	color: inherit;
}
p {
	margin: 0;
}
ul,
ol {
	list-style: none;
}
body {
	width: 100%;
	height: 100%;
	direction: ltr;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.button {
	cursor: pointer;
	position: relative;
	overflow-x: hidden;
	padding: var(--size-300) var(--size-200);
	border-radius: var(--size-100);
	color: var(--dark-color);
	z-index: 0;
	background-color: rgba(219, 219, 219, 0.349);
}
@keyframes StrikeThrough {
	0% {
		background-size: 0% 100%;
	}
	100% {
		background-size: 100% 100%;
	}
}
.button:focus,
.button:active {
	outline-color: none !important;
	border-color: none !important;
	box-shadow: none !important;
}
@media (hover: hover) and (pointer:fine) {
	.button:hover {
		background: linear-gradient(to right, var(--primary-color), var(--primary-color));
		background-repeat: no-repeat;
		transition: background-size 1s linear;
		animation: StrikeThrough 0.3s linear 1 forwards;
		color: var(--dark-color);
	}
}
@media (max-width: 991.98px) {
	:root {
		font-size: 62.5%;
	}
}
::-webkit-scrollbar {
	width: 0px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: var(--bg-scrollbar-thumb);
	border-radius: var(--size-400);
	border: 2px solid transparent;
	background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--bg-scrollbar-thumb-hover);
}
