#carouselExampleDark img {
	width: 100%;
	filter: contrast(140%);
	height: auto;
	object-fit: cover;
}
.carousel-inner {
	filter: brightness(50%);
}
.headerContent {
	z-index: 1;
	top: 30%;
}

@media (min-width: 991.98px) {
	#carouselExampleDark img {
		height: 100vh;
	}
}
@media (max-width: 991.98px) {
	.headerContent {
		top: 20%;
	}
}

.carousel-fade,
.carousel-item {
	transition: none !important;
	transform: none !important;
}
